body {
	background-color: #DFE2DB;
}
#header-nav {
	background-color: #FFF056;
	border-radius: 0;
	border: 0;
}
.navbar-header {
	margin-top: 30px;
	margin-bottom: 30px;
} 
.container-fluid {
	margin-right: 15px;
	margin-left: 15px;
}
#long-section div {
	height: 1000px;
	background-color: #FFF056;	
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form, hr {
    border-color: #191919;
}
h1 {
	color: #191919;
	font-size: 30px;
	text-decoration: bold;
	margin-top: 20px;
	margin-bottom: 40px;
}
h2 {
	font-size: 1.5em;
	margin-top: 0px;
	color: #191919;
}